html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  cursor: default;
  font-family: sans-serif;
}

#grid {
  height: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box.text {
  padding-left: 10%;
  padding-right: 10%;
}

.text {
  background-color: black;
  color: white;
}

.image {
  background-color: white;
  color: black;
}

button.info {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  padding: 20px;
}

#box1 > .info {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#box2 > .info {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

/* Modal */
#modal {
  --padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - calc(2 * var(--padding)));
  height: calc(100% - calc(2 * var(--padding)));
  padding: var(--padding);
  overflow: scroll;
  z-index: 2;
  background-color: white;
}

#modal > .body {
  margin: auto;
  max-width: 600px;
}

#modal > .close {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal.hidden {
  display: none;
}
