html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  cursor: default;
}

#grid {
  height: 100%;
  font-family: sans-serif;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box.text {
  padding-left: 10%;
  padding-right: 10%;
}

.text {
  background-color: black;
  color: white;
}

.image {
  background-color: white;
  color: black;
}

button.info {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  padding: 20px;
}

#box1 > .info {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#box2 > .info {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
